body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

.main {
    width: 80vw;
    height: 100vh;
    /* background-color: #0ff2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    font-family: 'Roboto', sans-serif;
    width: 40vw;
    min-width: fit-content;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #FFB300;
    border-radius: 20px;
    padding: 2em !important;
}

form > input {
    width: 90%;
    background: white;
    border: 1px solid #707070;
    margin: 10px;
    padding: 1em;
    border-radius: 3vmin;
}

form > input[readonly="readonly"] {
    background-color: #0002;
}

form > textarea {
    width: 90% !important;
    background: white;
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 20px;
    margin-top: 2em;
}

form > button {
    position: absolute;
    width: 30%;
    height: 3em;
    background: white;
    border: 1px solid #707070;
    border-radius: 3vmin;
    font-family: 'Roboto', sans-serif;
    bottom: -5em;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
    /* margin: auto; */
}

form > button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
