body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 2.5em;
    color: #EA6C20;
}

.slogan {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 0.7em;
    letter-spacing: 5px;
    color: #EA6C20;
    margin-top: -1.5em;
    
}

.navigation {
    width: 20vw;
    height: 100vh;
    background-color: #FFB300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
}

.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}

.navigation > ul > li {
    padding: .8em 0;
}

.navigation > ul > li:last-child {
    margin-top: auto;
}
  
.navigation > ul > li > a {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}


.navigation > ul > li > a:hover {
    color: black;
    text-decoration: none;
    animation-name: example;
    animation-duration: .5s;
}

@keyframes example {
    0%   {margin-left: 0px;}
    25%  {margin-left: 5px;}
    50%  {margin-left: -5px;}
    100% {margin-left: 0px;}
}

.nav-icon {
    padding: 0 .5em;
    font-size: 1.3em;
}

.main {
    width: 80vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.search-bar {
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}

.search-bar form {
    display: flex;
}

.search-bar > form > label {
    
}

.search-bar > form > select {
    padding: 0.5em;
    border-radius: 1000px;
}

.search-bar > form > input[type="search"] {
    width: 30vw;
    border: 1px solid #707070;
    border-radius: 1000px;
    background: url("https://www.seekpng.com/png/full/12-121965_icons-logos-emojis-search-icon-png-grey.png") top left no-repeat;
    background-position: 1em 0.7em;
    background-size: 2em;
    background-color: white;
    padding: 0 4em;
}

.search-bar > form > input[type="search"]::placeholder {
    font-size: 1.2em;
}

/* Styles for select box */

.select-box {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 10em;
    border-radius: 1000px;
    border: 1px solid #707070;
    font-size: 1.1em;
    margin: 0 2em;
}

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}

.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
  
.select-box__current:hover .select-box__icon {
    animation-name: arrow-movement;
    animation-iteration-count: 1000;
    animation-duration: .3s;
}

@keyframes arrow-movement {
    0%   {transform: rotate(5deg) ;}
    50%  {transform: rotate(-10deg) ;}
    100%  {transform: rotate(10deg) ;}
}
  
.select-box__icon {
    position: absolute;
    top: calc(50% - .75em);
    left: 10px;
    line-height: 1.1em;
    width: 1.5em;
    transition: 0.2s ease;
    z-index: 100;
}
  .select-box__value {
    display: flex;
  }
  .select-box__input {
    display: none;
  }
  .select-box__input:checked + .select-box__input-text {
    display: block;
  }
  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px 15px 15px 50px;
    background-color: #fff;
    border-radius: 1000px;
    line-height: 1.1em;
  }
  .select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
  }
  .select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
  }
  
  @-webkit-keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }

  /* End of select box's styles */