body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.main {
    width: 80vw;
    /* background-color: #0ff2; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-container {
    width: 100%;
    height: 30vh;
    background-image: url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-size: 100% auto;
    background-color: white;
    box-shadow: inset 0px 0px 99px #000000D1;
}

.add-product-button {
    background-color: #FFB300;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 1000px;
    padding: .5rem .7rem;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    position: fixed;
    right: 1em;
    top: 1em;
    font-weight: bold;
    overflow: hidden;
    transition: .5s;
    width: 3.5rem;
}

.add-product-button > i {
    font-size: 1.7em;
    transition: .3s;
}

.add-product-button > span {
    transition: .5s;
    white-space: nowrap;
    margin-left: 0.8rem;
}

.add-product-button:hover {
    cursor: pointer;
    /* color: black; */
    padding-right: 9em;
}

.add-product-button:hover > i {
    text-decoration: none;
    animation-name: infinite-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center center;
    animation-timing-function: linear;
}

@keyframes infinite-rotate {
    0% {transform: scale(1);}
    50%  {transform: scale(1.1);}
    100%  {transform: scale(1);}
}


.content-container {
    width: 80vw;
    height: 70vh;
    max-height: 70vh;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.my-offer-container {
    width: 70%;
    height: 100%;
    /* background-color: yellow; */
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
}

.product {
    display: flex;
    width: calc(100% - 8em);
    border: 1px solid #707070;
    background-color: white;
    padding: .5em 1em;
}

.product img {
    width: 12em;
    border: 1px solid #707070;
    border-radius: 1.5em;
    position: relative;
}

.product-content {
    width: calc(100% - 12em - 2em);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.price {
    text-align: right;
}

.product button {
    border: none;
    background-color: transparent !important;
    position: absolute;
    /* right: .25em; */
    right: calc(-.25em - 1.4em);
    font-size: 1.4em;
}

.delete-product {
    bottom: .25em;
}

.update-product {
    bottom: calc(.25em + 1.4em + .25em);
}

.product button:hover {
    animation-name: arrow-movement;
    animation-iteration-count: 1000;
    animation-duration: .3s;
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes arrow-movement {
    0%   {transform: rotate(5deg);}
    50%  {transform: rotate(-10deg) ;}
    100%  {transform: rotate(10deg) ;}
}


.owner-info-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* .owner-info {
    width: 90%;
    height: auto;
    border: 1px solid #707070;

} */

.owner-info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    outline: 2px solid #EA6C20;
    outline-offset: 2px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* -webkit-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1); */
    transition: .3s;
}

.owner-info

.owner-info h2 {
    font-family: "Bradley Hand ITC", sans-serif;
}

.owner-info p {
    padding: 0.5em;
    margin: 0;
}

.owner-photo {
    position: absolute;
    width: 10em;
    height: 10em;
    top: calc(-25% - 2em);
    left: calc(25%);
    background-color: red;
    z-index: 100;
    background-image: url("https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
    border-radius: 1000px;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.owner-photo > img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}



/* Toggle switch responsible for changing Stall visibility */

.top-container input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.top-container label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.top-container label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.top-container input:checked + label {
    background: #bada55;
}

.top-container input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.top-container label:active:after {
    width: 30px;
}

.stall-visibility-text {
    background: #0004;
    color: white;
    position: absolute;
    bottom: 4em;
    right: 1em;
}

/* description */
.description-container {
    position: relative;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    flex-basis: 100%;
    padding: 1rem 2rem;
    outline: 2px solid #FFB300;
    outline-offset: -1px;
    border-radius: 0 0 40px 0px;

    -webkit-box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
}

.description-container h2 {
    font-weight: bold;
}


#btn-change-image, #btn-change-text {
    color: #FFB300;
    background: transparent;
    border: none;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 0;
    border-radius: 5px;
}

#btn-change-image .mif-file-image {
    display: block;
    padding: 0;
}

/* Categories styles */
.categories-container {
    display: flex;
    justify-content: center;
}

.categories-container button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
}

.categories {
    display: flex;
    margin: 1em;
}

.category1 {
    background: greenyellow;
}

.category2 {
    background: gold;
}

.category3 {
    background: mediumpurple;
}

.category4 {
    background: grey;
}

div[class^='category'] {
    border-radius: 1em;
    font-weight: bold;
    margin: 0 1em;

}
.category-name {
    padding: .3rem .5rem;
}