body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

button:hover {
    cursor: pointer;
}

#link-logo:hover {
    text-decoration: none;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 2.5em;
    color: #EA6C20;
}

.slogan {
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 0.7em;
    letter-spacing: 5px;
    color: #EA6C20;
    margin-top: -1.5em;
    
}

.navigation {
    width: 20vw;
    height: 100vh;
    background-color: #FFB300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    z-index: 1000;
}

.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}

.navigation > ul > li {
    padding: .8em 0;
}

.navigation > ul > li:last-child {
    margin-top: auto;
}
  
.navigation > ul > li > a {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}


.navigation > ul > li > a:hover {
    color: black;
    text-decoration: none;
    animation-name: example;
    animation-duration: .5s;
}

@keyframes example {
    0%   {margin-left: 0px;}
    25%  {margin-left: 5px;}
    50%  {margin-left: -5px;}
    100% {margin-left: 0px;}
}

.nav-icon {
    padding: 0 .5em;
    font-size: 1.3em;
}

.active-page {
  color: black !important;
  font-weight: bold;
}

.main {
    width: 80vw;
    /* background-color: #0ff2; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-container {
    width: 100%;
    height: 30vh;
    background-image: url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-size: 100% auto;
    background-color: white;
    box-shadow: inset 0px 0px 99px #000000D1;
}

.add-product-button {
    background-color: #FFB300;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 1000px;
    padding: .5rem .7rem;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    position: fixed;
    right: 1em;
    top: 1em;
    font-weight: bold;
    overflow: hidden;
    transition: .5s;
    width: 3.5rem;
}

.add-product-button > i {
    font-size: 1.7em;
    transition: .3s;
}

.add-product-button > span {
    transition: .5s;
    white-space: nowrap;
    margin-left: 0.8rem;
}

.add-product-button:hover {
    cursor: pointer;
    /* color: black; */
    padding-right: 9em;
}

.add-product-button:hover > i {
    text-decoration: none;
    animation-name: infinite-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center center;
    animation-timing-function: linear;
}

@keyframes infinite-rotate {
    0% {transform: scale(1);}
    50%  {transform: scale(1.1);}
    100%  {transform: scale(1);}
}


.content-container {
    width: 80vw;
    height: 70vh;
    max-height: 70vh;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.my-offer-container {
    width: 70%;
    height: 100%;
    /* background-color: yellow; */
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
}

.product {
    display: flex;
    width: calc(100% - 8em);
    border: 1px solid #707070;
    background-color: white;
    padding: .5em 1em;
}

.product img {
    width: 12em;
    border: 1px solid #707070;
    border-radius: 1.5em;
    position: relative;
}

.product-content {
    width: calc(100% - 12em - 2em);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.price {
    text-align: right;
}

.product button {
    border: none;
    background-color: transparent !important;
    position: absolute;
    /* right: .25em; */
    right: calc(-.25em - 1.4em);
    font-size: 1.4em;
}

.delete-product {
    bottom: .25em;
}

.update-product {
    bottom: calc(.25em + 1.4em + .25em);
}

.product button:hover {
    animation-name: arrow-movement;
    animation-iteration-count: 1000;
    animation-duration: .3s;
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes arrow-movement {
    0%   {transform: rotate(5deg);}
    50%  {transform: rotate(-10deg) ;}
    100%  {transform: rotate(10deg) ;}
}


.owner-info-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* .owner-info {
    width: 90%;
    height: auto;
    border: 1px solid #707070;

} */

.owner-info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    outline: 2px solid #EA6C20;
    outline-offset: 2px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* -webkit-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1); */
    transition: .3s;
}

.owner-info

.owner-info h2 {
    font-family: "Bradley Hand ITC", sans-serif;
}

.owner-info p {
    padding: 0.5em;
    margin: 0;
}

.owner-photo {
    position: absolute;
    width: 10em;
    height: 10em;
    top: calc(-25% - 2em);
    left: calc(25%);
    background-color: red;
    z-index: 100;
    background-image: url("https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
    border-radius: 1000px;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.owner-photo > img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


/* width */
::-webkit-scrollbar {
    width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Add product form */
.popup {
    position: absolute;
    /*top: 50%;*/
    left:50%;
    top: -150%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 50vw;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 100000;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

.hidden-input {
    display: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

form > input, form textarea {
    width: 100%;
    background: #F5F5F5;
    border: 0;
    margin: 10px 0;
    padding: 1em 2em;
    border-radius: 3vmin;
}

form textarea {
    resize: vertical;
}

form > button {
    width: 45%;
    height: 3em;
    background: #FFB300;
    border: 1px solid #707070;
    border-radius: 3vmin;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 2em;
    float: right;
}

.add-product-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 1.5em;
}

#deleteConfirmForm > form > button {
    width: 30%;
    height: 2em;

}

#deleteConfirmForm .add-product-text {
    margin-top: .5em;
    font-size: 2.5em;
}

#btn-cancel {
    background: #fff;
    color: black;
    margin-right: .5em;
}

/* Toggle switch responsible for changing Stall visibility */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 30px;
}

.stall-visibility-text {
    background: #0004;
    color: white;
    position: absolute;
    bottom: 4em;
    right: 1em;
}

/* description */
.description-container {
    position: relative;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    flex-basis: 100%;
    padding: 1rem 2rem;
    outline: 2px solid #FFB300;
    outline-offset: -1px;
    border-radius: 0 0 40px 0px;

    -webkit-box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: -5px -5px 24px 0px rgba(66, 68, 90, 1);
}

.description-container h2 {
    font-weight: bold;
}


#btn-change-image, #btn-change-text {
    color: #FFB300;
    background: transparent;
    border: none;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 0;
    border-radius: 5px;
}

#btn-change-image .mif-file-image {
    display: block;
    padding: 0;
}