.search-bar {
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}

.search-bar{
    display: flex;
}

.search-bar > label {

}

.search-bar  > select {
    padding: 0.5em;
    border-radius: 1000px;
}

.search-bar > input[type="search"] {
    width: 30vw;
    border: 1px solid #707070;
    border-radius: 1000px;
    background: url("https://www.seekpng.com/png/full/12-121965_icons-logos-emojis-search-icon-png-grey.png") top left no-repeat;
    background-position: 1em 0.7em;
    background-size: 1.5em;
    background-color: white;
    padding: 0 4em;
    transition: 0.2s;
    font-size: 1.2em;
}

.search-bar > input[type="search"]::placeholder {
    font-size: 1em;
    transition: 0.2s;
}
.search-bar > input[type="search"]:focus::placeholder {
    transform: translateY(-200%);
}

.search-bar > input[type="search"]:focus {
    background-position-y: -200%;
}




/* Styles for select box */

.select-box {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 10em;
    border-radius: 1000px;
    border: 1px solid #707070;
    font-size: 1.1em;
    margin: 0 2em;
    z-index: 1000;
}

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}

.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:hover .select-box__icon, .select-box__current:focus .select-box__icon {
    animation-name: arrow-movement;
    animation-iteration-count: 1000;
    animation-duration: .3s;
}

@keyframes arrow-movement {
    0%   {transform: rotate(5deg);}
    50%  {transform: rotate(-10deg) ;}
    100%  {transform: rotate(10deg) ;}
}

.select-box__icon {
    position: absolute;
    top: calc(50% - .75em);
    left: 10px;
    line-height: 1.1em;
    width: 1.5em;
    transition: 0.2s ease;
    z-index: 100;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px 15px 15px 50px;
    background-color: #fff;
    border-radius: 1000px;
    line-height: 1.1em;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@media only screen and (max-device-width: 800px) {
    .search-bar {
        flex-direction: column;
        align-items: center;
    }

    .search-bar > input[type="search"] {
        width: 16em;
        height: 3em;
    }

}

@media only screen and (max-device-width: 400px) {
    .search-bar > input[type="search"] {
        width: 12em;
        height: 3em;
    }

}
